   <footer>
      <p>© 2025 Burcu Meric. All rights reserved.</p>
   </footer>
    
    <!-- JS Scripts -->
    <script src="js/main.js"></script>
    <script src="js/gallery-filter.js"></script>
    
    <!-- Floating Instagram Button -->
    <a href="https://www.instagram.com/mombaba_illustrations/" target="_blank" class="floating-instagram" aria-label="Instagram">
      <img src="images/instagram-watercolor2.png" alt="Instagram Icon">
    </a>
    
    <!-- Floating TikTok Button (optional) -->
    <a href="https://www.tiktok.com/@mombaba_illustrations" class="floating-tiktok" target="_blank" aria-label="TikTok">
      <img src="images/tiktok_watercolor.png" alt="TikTok Icon">
    </a>
    </body>
</html>



