<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="https://www.amazon.com/s?i=stripbooks&rh=p_27%3AMombaba%2BPublishing&s=relevancerank&text=Mombaba+Publishing&ref=dp_byline_sr_book_1" target="_blank">Shop</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li class="social-link">
      <a href="https://www.instagram.com/mombaba_illustrations/" target="_blank" aria-label="Instagram">
        <img src="images/instagram_watercolor.png" alt="Instagram" />
      </a>
    </li>    
  </ul>
</nav>
