<nav>
  <div class="nav-container">
    <!-- Logo -->
    <div class="logo">
      <a href="home.html" class="logo-text">Burcu Meric</a>

      </a>
    </div>

   
  <!-- Navigation Links -->
    <ul class="nav-links" id="nav-links">
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="about.html">About/a></li>
      <li><a href="shop.html">Shop</a></li>
    </ul>
     <!-- Hamburger Icon -->
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

      
  </div>
</nav>
