
<nav>
  <div class="nav-container">
    <div class="logo">
      <a href="home.html" class="logo-text">Burcu Meric</a>
    </div>
    <ul class="nav-links">
      <li><a href="gallery.html"><i class="fas fa-images"></i><span class="nav-text">Gallery</span></a></li> <!-- Gallery Icon -->
      <li><a href="about.html"><i class="fas fa-user"></i><span class="nav-text">About</span></a></li> <!-- About Icon -->
      <li><a href="shop.html"><i class="fas fa-store"></i><span class="nav-text">Shop</span></a></li> <!-- Shop Icon -->
      <li><a href="contact.html"><i class="fas fa-envelope"></i><span class="nav-text">Contact</span></a></li> <!-- Contact Icon -->
    </ul>
  </div>
</nav>

